* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #000;
    overflow: hidden;
}

video {
    display: none;
    width: 100%;
    height: 100vh;
}

.cardInicial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    display: grid;
    place-items: center;
    padding: 1em;
}

.cardInicial > div {
    background-color: #FFF;
    display: grid;
    gap: 1.4em;
    padding: 2em;
    line-height: 1.5em;
}

.cardInicial h1 {
    line-height: 1.2em;
}

.cardInicial p {
    color: #606060;
}

.cardInicial input[type="text"] {
    padding: 1em;
    width: 100%;
    font-size: 1em;
    background-color: #eeeeee;
}

.cardInicial input[type="submit"] {
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
    background-color: #FF0000;
    cursor: pointer;
    color: #FFF;
}

.inputContainer {
    display: grid;
    gap: 1em;
}

.inputSpanError {
    display: none;
    color: #FF0000;
    font-weight: bold;
}

#btnSincronizar {
    display: none;
}

.clientVideo::-webkit-media-controls-timeline {
    display: none !important;
}

.cardNotifications {
    display: grid;
    gap: 1em;
    position: absolute;
    bottom: 5em;
    right: 0;
}

.systemNotification {
    display: flex;
    gap: .4em;
    background-color: #FFF;
    font-weight: bold;
    padding: 1em;
    animation: showCardNotification;
    animation-duration: 3s;
}

@keyframes showCardNotification {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}